/* Styling for Structure Details*/

#struct-record {
    padding: 0;
    padding-top: 0px !important;
}

#other-info-left {
    padding: 0;
}

#details-label {
    font-weight: bold;
}

#details-section-heading {
    padding-top: 20px;
}

/* Styling for Forms */
#form-section-header-first, #form-section-header {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11pt;
    border-top: 1px dotted #333;
    padding-top: 20px;
}

#frm_field_125_container, #frm_field_126_container, #frm_field_127_container{
    padding-top: 40px;
}

#form-subheadings {
    font-style: italic;
    text-decoration: underline;
    font-weight: bold;
    padding-top: 10px;
}

.frm_submit {
    text-align: right;
    margin-right: -20px;
}

input[type="submit"] {
    background: white !important;
    border: 2px Solid #333 !important;
    padding: 7.5px !important;
    margin-top: 7px !important;
    font-family: 'Source Sans Pro', Helvetica, Arial, Lucida,! sans-serif important;
    text-transform: uppercase !important;
    color: #333 !important;
    font-weight: bold !important;
    cursor: pointer !important;
    border-radius: 0 !important;
    font-size: 15px !important;
}
/* end of form styling*/

/*Michael Code*/
.map-container{
  width: 100%;
  height: 500px;
  margin: 0 auto;
  margin-top:10px;
}
.input-references{
  height: 0;
}
#map{
    height: 100%;
    overflow: hidden;
    /*padding-bottom: 65%;
    padding-top: 0px;*/
    position: relative;
}

.notice {
    color: red;
}


.map-overlay {
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    position: absolute;
    z-index: 1;
}

.bottom {
    bottom: 0;
}

.top {
    top: 0;
}

.left {
    left: 0;
    /*min-width: 210px;*/
}

.right {
    right: 0;
    /*min-width: 13%;*/
}

.map-overlay .map-overlay-inner {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.20);
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 40px;
}

.map-overlay h3 {
    /*line-height: 5px;*/
    display: block;
    margin: 0 0 00px;
    /*padding-top: 10px;*/
    padding-bottom: 5px;
}

.map-overlay .legend .bar {
    height: 10px;
    width: 100%;
    background: linear-gradient(to right, #FCA107, #7F3121);
}

.map-overlay input {
    display: inline-block;
    width: 100%;
    position: relative;
    margin: 0;
    cursor: ew-resize;
}

.center-header {
    text-align: center;   
}

.field {
    padding-top: 10px;
    padding-bottom: 10px;
}
.field-inner .selection {
    width: 100%;
    height: 0px;
}
.bold-header {
    font-weight: bold;
    padding-left: 5px;    
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

#menu {
    background: #fff;
    position: relative;
    z-index: 1;
    top: 10px;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.4);
    font-family: 'Open Sans', sans-serif;
}

#menu a {
    font-size: 13px;
    color: #404040;
    display: block;
    margin: 0;
    padding: 0;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    text-align: center;
}

#menu a:last-child {
    border: none;
}

#menu a:hover {
    background-color: #f8f8f8;
    color: #404040;
}

#menu a.active {
    background-color: #3887be;
    color: #ffffff;
}

#menu a.active:hover {
    background: #3074a4;
}

#building-detail-inner {
    width: 200px;
}



.detail-header {
    border-bottom: 1px dotted black;
    padding:8px;
}

.center-content {
    text-align: center;
}

.clear-button {
    color: #fff;
    background-color: #3887be;
    border-color: #2e6da4;
}

.button {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.clear-button:hover {
    color: #fff;
    background-color: #337ab7;
    border-color: #285e8e; 
}

.center-header h3 {
    font-size: 14pt;
    font-weight: 900;
    padding-top: 10px;
}


.center-header.detail-header h3 {
    text-transform: capitalize;
    text-align: left;
    font-size: 14pt;
    margin-bottom: 8px;
    padding-bottom: 5px;
}

#building-detail-inner p {
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 10px;
}

#building-detail-inner a {
    padding: 5px;
}

#building-detail-inner .center-content {
    padding: 10px;
}

#building-detail-inner .bold-header {
    padding-top: 10px;
}


#page-container {
    padding-top: 0px
}

.legend-icon {
    float: center;
    width: 20px;
    height: 20px;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, .2);
}

.legend-content {
    margin-left: 0px !important;
    min-width: 200px;
}

.hidden-btn {
    padding: 0px;
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .hide-on-mobile {
        display: none;
    }
}

@media screen and (max-height: 900px){
    .hide-on-mobile {
        display: none;
    }
}